<h1>Please sign in</h1>

<form action='/sessions' method='post'>
  <label for='email'>
    Email: <input name='email' type='email'>
  </label>
  <label for='password'>
    Password: <input  name='password' type='password'>
  </label>
  <input type='submit' value='Sign in'>
</form>

<form action='/users/new'>
  <label for='Create account'>
    Don't have an account yet? Sign up here...
    <input type='submit' value="Create account">
  </label>
</form>
