<h1>Please create an account...</h1>

<form action='/users' method='post'>
  <label for='email'>
    Email: <input name='email' type='email' value'<%=@user.email%>' required>
  </label>
  <label for='password'>
    Password: <input name='password' type='password' required>
  </label>
  <label for='password_confirmation'>
    Password confirmation: <input name='password_confirmation' type='password' required>
  </label>
  <input type='submit' value='Create account'>
</form>

<form action='/sessions/new'>
  <label for='Sign in'>
    Already have an account?
    <input type='submit' value='Sign in'>
  </label>
</form>
