<ul id='links'>
  <% @links.each do |link| %>
    <li>
      <%= link.title %>
      <a href="<%= "http://"+link.url %>" target="_blank"><%= link.url %></a>
      <%= link.tags.map{ |tag| tag.name }.join(', ') %>
    </li>
  <% end %>
</ul>

<form class="button" action='/links/new'>
  <input id=new_link type='submit' value='Add a new link'>
</form>

<form class="button" action='/links'>
  <input id=show_all type='submit' value='Show all links'>
</form>

<form class="search" action='/tags/:name'>
  <label for='Search'>
      Filter links by tag...
    <input name='tag' type='text'>
    <input id="search" type='submit' value='=> Search'>
  </label>
</form>
