<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
      Tags: <%= link.tags.map{ |tag| tag.name }.join(', ') %>
    </li>
  <% end %>
</ul>

<form action='/links/new'>
  <input type='submit' value='Add a new link'>
</form>

<form action='/links'>
  <input type='submit' value='Show all links'>
</form>

<form action='/tags/:name'>
  <label for='Search'>
      Filter links by tag...
    <input name='tag' type='text'>
    <input type='submit' value='Search'>
  </label>
</form>
